*{
    margin: 0px;
    padding: 0px;
}
.box1{
    border: 40px solid cyan;
    padding: 30px;
    width: 330px;
    margin: 0px
}
.box2{
    border: 40px solid cyan;
    width: 330px;
    padding: 0px;
    margin: 5px
}
.box3-1{   
	box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    border: 40px solid cyan;
    padding: 30px;
    width: 330px;
    margin: 0px
}
.box3-2{
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    border: 40px solid cyan;
    width: 330px;
    padding: 0px;
    margin: 5px
}
.box4-1{   
    box-sizing: content-box; 
    -moz-box-sizing: content-box; 
    -webkit-box-sizing: content-box;
    border: 40px solid cyan;
    padding: 30px;
    width: 330px;
    margin: 0px
}
.box4-2{
    box-sizing: content-box; 
    -moz-box-sizing: content-box; 
    -webkit-box-sizing: content-box;
    border: 40px solid cyan;
    width: 330px;
    padding: 0px;
    margin: 5px
}

#span1{
    border: 2px solid rgb(200, 100, 100);
    padding: 10px;
    background-color: gray;
}
#span2{
    border: 2px solid rgb(200, 100, 100);
    padding: 10px;
    margin: 20px;
    background-color: gray;
}
#span3{
    display: inline-block;
    border: 2px solid rgb(200, 100, 100);
    padding: 10px;
    background-color: gray;
}
footer, header, main, aside, section, nav{
    display: block;
}
body{
    text-align: center;
    clear: both;
}
.maincls{
    size: 980px;
    margin: 15px, auto;
    text-align: left;
}
main{
    text-align: left;
}
header{
	display: block;
	text-align: center;
	margin: 20px;
	border: 1px solid black;
	background-color:lightgray;
}
section{
	width: 660px;
	float: left;
	margin: 20px;
	/*660 + 20 * 2*/
}

footer{
	display: block;
	text-align: center;
	margin: 20px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	clear: both;
}

aside{
	display: block;
	float: left;
	width: 660px;
	margin: 15px 0;
	padding: 20px;
	/*660 + 20 * 2*/
	background: darkcyan;
}
nav{
    padding: 10px;
    background-color: lightpink;
	height: 30px;
}
li{
    display: inline;
    float: left;
}
#after-body{
	width: 980px;
}